# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.packages
build/
ios/Pods/
ios/DerivedData/
pubspec.lock

# IDE settings
.idea/
.vscode/
*.iml

# Firebase/IDX specific
.idx/

# Generated localization files
lib/l10n/app_localizations.dart
lib/l10n/app_localizations_en.dart
lib/l10n/app_localizations_zh.dart
